# To run this project you will need to add your envirnment variables.
# ==========================================
# POSTGRESQL DATABASE
# ==========================================
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# ==========================================
# DJANGO BACKEND CORE
# ==========================================
DJANGO_SECRET_KEY=
# ВКЛЮЧЕНО ДЛЯ ЛОКАЛЬНОЙ РАЗРАБОТКИ:
DEBUG=
ALLOWED_HOSTS=

# ==========================================
# REDIS & ENVIRONMENT
# ==========================================
REDIS_URL=
ENVIRONMENT=
TEST_SERVER=

# ==========================================
# FASTAPI
# ==========================================
FASTAPI_HOST=
FASTAPI_PORT=8001
FASTAPI_RELOAD=
ALGORITHM=

# ==========================================
# SYSTEM PATHS
# ==========================================
DJANGO_SETTINGS_MODULE=backend_core.setting
PYTHONPATH=/app:/app/django_project

# ==========================================
# EXTERNAL APIs
OPEN_AI_GPT_5_MINI_API_KEY = 
GEMINI_API_KEY =
